<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
      </button>
    </div>
    <div class="logo img bg-wrap text-center py-4">
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a [routerLink]="['/']"><span class="fa fa-home mr-3"></span>Principal</a>
      </li>
      <li>
        <a [routerLink]="['patentes']"><span class="fa fa-medal mr-3"></span>Patentes</a>
      </li>
      <li>
        <a [routerLink]="['batalhoes']"><span class="fa fa-tent mr-3"></span>Batalhões</a>
        
      </li>
      <li>
        <a [routerLink]="['militares']"><span class="fa fa-shield mr-3"></span>Militares</a>
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
  </nav>

  <div id="content" class="p-4 p-md-5 pt-5">
    <router-outlet></router-outlet>
  </div>
</div>